#front,
#back {
  width: 100px;
  height: 100px;
}

#coin {
  position: relative;
  transform-style: preserve-3d;
  height: 100px;
}

#front {
  transform: translateZ(1px);
  position: absolute;
  top: 0;
  left: 45%;
}

#back {
  transform: translateZ(-1px) rotateY(180deg);
  position: absolute;
  top: 0;
  left: 45%;
}
